<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- ImageBan tokens (мульти-токен сессия) -->
		<!-- Токены разделяются точкой с запятой -->
		<add key="ImageBanTokens"
		     value="pWzRLlvUt9PLA9DcVpQUCX9hA8ICuG33I4N;73ZxS2oZUmF8WCGElFioZScTQvLdByFNcM9;jlg8YCRR9GZJ9ZRqr8D9EsYUbijyxce5tIV;FV3PDI0u4CQRwirxKWpnCgzHCYZR6QeEU9o"/>
	</appSettings>
</configuration>
